# Handle Categorical Features
## Two types of encodings 
    1.Nominal Encoding
        a)Onehot Encoding 
        b)Onehot Encoding Many Categories in features 
        c)Mean Encoding
    2.Ordinal Encoding
        a)Label Encoding 
        b)Target Guide Encoding
        C)Count Or Frequency Encoding
### One Hot Encoding

In [41]:
import pandas as pd

In [42]:
df=pd.read_csv('titanic.csv',usecols=['Sex'])

In [43]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [44]:
#we can use pandas get dummies function for one hot encoding to  change caterorical features to numerical features 
pd.get_dummies(df,drop_first=True).head() #drop_first = True is  n-1 column after getting features have dummies 2 isthere then 1column shows

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [45]:
df=pd.read_csv('titanic.csv',usecols=['Embarked'])

In [46]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [47]:
df.dropna(inplace=True)

In [48]:
                                                   # Diff b/w True and false 
print(pd.get_dummies(df,drop_first=False).head())#false means showing all columns 
print(pd.get_dummies(df,drop_first=True).head()) #True means showing all n-1 columns

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1
   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

#### Onehotencoding with many categories in a single feature

'''Note :  WHEN MORE NUMBER OF CATEGORIES DATA  ARE THERE IN ONE FEATURE  
            THAT TIME WE HAVE TO TAKE TOP 10 CATEGORIES REQUIRED IN EVERY FEATURE AND THEN ENCODING '''

In [49]:
#load the data  with categorical columns 
df=pd.read_csv('mercedes.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [50]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [51]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [52]:
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [53]:
top_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
top_10=list(top_10)

In [54]:
top_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [55]:
import numpy as np
for categories in top_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [56]:
df=top_10.append('X1')

In [57]:
df